.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 100px;
}

.button{
    color: black;
    font-size: 28px;
    border-radius: 8px;
    border-color: hsla(0, 0%, 0%, 0.75);
    background-color: rgb(241, 251, 255);
    border: 2px solid black;
    text-decoration-line: none;
    padding-inline: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.button:active{
    color: black;
}

.selected{
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 28px;
    border-radius: 8px;
    background-color: rgb(178, 213, 250);
    border: 2px solid rgb(0, 0, 0);
    text-decoration-line: none;
    padding-inline: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(237, 237, 237);
}

.logoutContainer{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 25px;
    margin-right: 20px;
}

.searchContainer{
    margin-top: 10px;
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(31, 109, 151);
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(241, 251, 255);
}

@media (max-width: 420px) {
    .buttonContainer {
        display: flex;
        justify-content: center;
        margin-top: 45px;
        margin-bottom: 20px;
        gap: 20px;
    }
    .button{
        font-size: 16px;
        border-radius: 4px;
    }
    .logoutContainer{
        position: absolute;
        top: 0px;
        right: 0px;
        margin-top: 8px;
        margin-right: 45px;
        transform: scale(0.7)
    }

  }