.App {
   text-align: center;
}

body{
   
   background-image: url('../public/rickandmorty-background.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position:center;
   overflow-x: hidden; 
}
