.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.logo{
    display: flex;
    justify-content: center;
    width: 800px;
    height: auto;
    margin-bottom: 0;
    
}

.formContainer{
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: inline-block;
    justify-content: center;
    width: 300px;
    height: 210px;
    border-radius: 12px;
    background-color: rgb(241, 251, 255);
}

.form{
    margin-top: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10px;
}

.info{
    margin-top: 15px;
}

.text{
    display: flex;
    margin: 0px;
    

}

.input{
    margin-left: 5px;
    align-items: flex-end;
    margin-top: 10px;
}

.boton{
    margin-top: 10px;
    border-radius: 6px;
}

.boton:hover{
    cursor: pointer;
}

.boton:active {
    background-color: rgb(206, 206, 206);
    transform: translateY(1px);
  }

.errors{
    font-size: 12px;
    color: red;
}

.emptyError{
    font-size: 8px;
}

.text{
    display: flex;
    justify-content: right;
}