.boton{
    width: 25px;
    text-align: center;
    align-self: last baseline;
    border-top: none;
    border-right: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10px;
    background-color: #ff6161;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 350px;
    margin: 20px;
    margin-top: 60px;
    border: 1px solid black;
    border-radius: 10px;
}

.container:hover{
    scale: 1.02;
}

.texto{
    margin-top: 0px;
    margin-bottom: 1px;
}

.imagen{
    margin-top: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.link{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.link:hover{
    color: red;
}