.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-inline: 50px;
}

.boton{
    margin: 5px;
    font-size: 120%;
    padding: 6px;
    border-radius: 6px;
    padding-inline: 16px;
    border-color: hsla(0, 0%, 0%, 0.75);
}

.input{
    margin: 5px;
    font-size: 120%;
}