.texto{
    font-size: 36px;
    color: rgb(244, 187, 55);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    font-weight: bolder;
}

.profile{
    margin-top: 30px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 10px;
    border: 1px solid black;
}

.link{
    font-family: 'Open Sans',serif;
    font-weight: 100;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}

@media (max-width: 400px) {
    .texto{
        font-size: 20px;
        margin-inline: 30px;
        font-weight: bolder;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
  }